* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
    width: 400px;
    margin: auto;
}

header {
    background-color: antiquewhite;
    position: sticky;
    border-radius: 10px;
    z-index: 5;
}

h1 {
    text-align: center;
    padding: 10px;
}

.question-card {
    position: relative;
    width: 80%;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
}

.question-card:last-of-type {
    margin-bottom: 80px;
}

.question {
    text-align: center;
    padding: 5px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.answer {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 1px solid black;
}

.hidden-answer {
    display: none;
}

.hashtag-box-list {
    list-style: none;
    display: inline-flex;
    margin: 25px 10px 10px 10px;
    padding: 0;
}

.hashtag-box-list > li {
    display: inline;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    margin-right: 10px;
}

.bookmark {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: red;
}

.nav-list {
    position: fixed;
    bottom: 0;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 0;
    border-radius: 10px;
}

.nav-list > li {
    padding: 10px;
}

.nav-list > li:hover {
    background-clip: padding-box;
    background-color: lightblue;
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

img {
    height: 150px;
    width: 150px;
}

figure {
    display: flex;
    justify-content: center;
}

.profile-heading2 {
    text-align: center;
    margin-bottom: 50px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }