@import url(./components/card.css);
@import url(./components/nav.css);
@import url(./components/profile-main.css);
@import url(./components/header.css);
@import url(./components/addCard.css);

* {
    box-sizing: border-box;
}

:root {
    --primary-color: antiquewhite;
    --secondary-color: lightblue;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    z-index: -1;
}

.all-container {
    width: 400px;
    margin: auto;
}

@media (min-width: 1000px){
    .all-container {
        width: 800px;
    }
}